// nextflow.config - Configuration for SV/SNP pipeline

params {
  sample_list      = 'sample.txt'
  reference_fasta  = '2.index/ref.fa'
  reference_gff3   = '2.index/ref.gff3'
  output_dir       = 'results'
  snp_vcf          = '10.snp/snp.final.vcf.recode.vcf'
  SV_vcf           = '9.final/SV.final.vcf'
  pep_fasta        = '0.data/pep.fa'
  control_file     = '13.fimpute/control_file_final.txt'
}

process {
  withLabel:lowmem {
    cpus = 2
    memory = '4 GB'
    time = '2h'
  }

  withLabel:bigmem {
    cpus = 8
    memory = '32 GB'
    time = '12h'
  }

  withName:.* {
    errorStrategy = 'retry'
    maxRetries = 2
  }
}

profiles {
  standard {
    process.executor = 'local'
    docker.enabled = false
  }

  slurm {
    process.executor = 'slurm'
    process.queue = 'normal'
    process.clusterOptions = '--account=your_account'
  }

  docker {
    docker.enabled = true
    docker.runOptions = '-u \$(id -u):\$(id -g)'
  }

  conda {
    conda.enabled = true
  }
}
